@model PostDto
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="@LinkBuilder.Post.Details(Model.Category.Alias, Model.Alias)">@Html.Raw(Model.Title)</a>
        </h5>
        <p class="text-truncate-2">@Model.Excerpt</p>

        <p class="fs-sm">
            <a class="btn-tag me-2 mb-2" href="@LinkBuilder.Post.CategoryList(Model.Category.Alias)">@Model.Category.Title</a>
        </p>

        @if( Model.Tags != null ) {
            <p>
                @foreach( var tag in Model.Tags ) {
                    <a class="btn-tag me-2 mb-2" href="/tags/@tag.Alias">@tag.Title</a>
                }
            </p>
        }
    </div>

    <div class="card-footer">
        <h6 class="mb-0"><a href="/user/@Model.User.Username">@Model.User.Username</a></h6>
    </div>
</div>